.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

body{
  background-color: #282c34;


}

.cost{
  color:green;
}

.flightWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
}

.modal-body>h1{
text-align: center;
}

.modal-content{
  border-radius: 5px;
  border: #55DBF8 5px solid;

}

.modal-header>h1{
  width: 100%;
  text-align: center;
}


.dropBar{
  margin-top: 10px;
  margin-bottom: 10px;
}
.cardWrapper{
  width: 250px;
  background-color: #d4d6ed;
  padding: 10px;
  border-radius: 5px;
  border: #55DBF8 5px solid;
  transition:all .5s;
}

.bold{
  font-weight: bold;
}

.cardWrapper:hover{
  transform: scale(1.2);
}

.price{
  color:green;
}
.App-header {
  background-color: #282c34;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
